<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.hughisaacs2.cordova.plugins.androidtvplugin"
    version="1.0.1">
	
	<name>AndroidTVPlugin</name>
    <description>Cordova Android TV Plugin</description>
    <license>MIT</license>
	
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <platform name="android">
	
	<config-file target="AndroidManifest.xml" parent="/manifest">
		<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
		<uses-feature android:name="android.hardware.camera" android:required="false" />
		<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
		<uses-feature android:name="android.hardware.microphone" android:required="false" />
		<uses-feature android:name="android.hardware.wifi" android:required="false" />
		<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
		<uses-feature android:name="android.hardware.location" android:required="false" />
		<uses-feature android:name="android.hardware.location.gps" android:required="false" />
		<uses-feature android:name="android.hardware.location.network" android:required="false" />
		<uses-feature android:name="android.hardware.telephony" android:required="false" />
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application/activity/intent-filter">
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="tv.ouya.intent.category.GAME" />
		<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
    </config-file>
  </platform>
  
</plugin>
